@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  padding-left: 0; }

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white; }

.btn-check-mistery {
  font-size: 22px;
  font-weight: bold; }

body {
  background: #3c3c3c; }

.blur-image {
  filter: blur(11px); }

.colum-list-suspects {
  background-color: #606470;
  padding: 2%; }

.base-list, .list-weapons,
.list-suspects,
.list-rooms {
  color: white;
  font-weight: 500;
  font-style: italic; }

.margin-5 {
  margin-top: 2%; }

.tit-list-suspects,
.tit-list-weapons,
.tit-list-rooms {
  padding-top: 8%;
  color: #4aa96c;
  font-size: 20px;
  font-weight: bold; }

.tit-points, #container-score,
.tit-weapon {
  color: #f27c7c;
  font-size: 22px;
  font-weight: bold; }

#name_suspect,
#name_weapon,
#name_rooms {
  font-size: 18px;
  font-weight: 500; }

.btn-check {
  background-color: #f0ff42; }

.selected-card {
  border: 5px solid #f0ff42; }
  .selected-card .cardz-asssin, .selected-card .cardz-weapons, .selected-card .cardz-rooms {
    opacity: 0.2;
    box-shadow: 0 10px 16px 0 rgba(6, 121, 2, 0.974); }

.name_correct {
  color: #faffa8;
  padding: 2%;
  background-color: rgba(240, 240, 240, 0.1); }
  .name_correct span {
    font-style: italic; }

.name_incorrect {
  color: #f56d8f;
  padding: 2%; }
  .name_incorrect span {
    font-style: italic; }

#full_case {
  color: #f56d8f;
  font-size: 24px;
  font-weight: bold;
  text-align: center; }
  #full_case span {
    color: white; }

.img-murder {
  filter: grayscale(90%); }

.container-cardz {
  max-width: 160px;
  height: 264px;
  outline: 0 none; }

.cardz-asssin, .cardz-weapons, .cardz-rooms {
  border-radius: 15px;
  margin: 0 !important;
  background: #f27c7c;
  transition: 0.3s;
  width: 160px;
  height: 264px; }

.cardz-weapons {
  background-color: #6bacbf; }

.imgs-cards {
  width: 100%; }

.cardz-rooms {
  background-color: #4aa96c; }

.cardz-title {
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center; }

.cardz-asssin:hover, .cardz-weapons:hover, .cardz-rooms:hover {
  box-shadow: 0 10px 16px 0 rgba(255, 255, 255, 0.85); }

.txt-fail, .cardz-text, .txt-winner {
  font-size: 26px;
  font-weight: bold;
  color: #f56d8f; }
  .txt-fail span, .cardz-text span, .txt-winner span {
    font-weight: 24px;
    color: white;
    font-weight: bold; }

.swal2-styled.swal2-confirm {
  background-color: #e5f876 !important;
  color: #2a2f39 !important; }

.cardz-text {
  color: #4aa96c !important; }
  .cardz-text span {
    color: white; }

.container-name {
  padding: 2px 15px; }

.tit-all-characters, .tit-all-weapons, .tit-all-rooms {
  color: #f27c7c;
  text-align: center;
  font-weight: 900;
  font-size: 42px; }

.tit-all-weapons, .tit-all-rooms {
  padding-top: 3%;
  color: #6bacbf; }

.tit-all-rooms {
  color: #4aa96c; }

.cross-text {
  text-decoration: line-through; }

.fa-solid {
  color: #f56d8f !important;
  padding-right: 4px; }

.container-points,
.container-case,
.container-lists {
  background-color: #393e46;
  margin: 3% 0;
  border-radius: 15px;
  padding: 2%; }

#container-score {
  color: yellow; }

.swa-text {
  font-size: 24px;
  font-weight: bold;
  color: #f56d8f;
  font-style: italic; }
  .swa-text span {
    color: gold;
    font-size: 26px;
    font-style: italic;
    font-weight: bold; }
  .swa-text span:nth-child(1) {
    color: tomato; }

.txt-na-na {
  color: #f56d8f;
  font-weight: bold;
  font-weight: 26px; }
  .txt-na-na span {
    color: white;
    font-size: 29px; }

.txt-winner {
  color: #4aa96c; }
  .txt-winner span {
    color: white; }

img.swal2-image {
  margin: 0; }

div.swal2-popup.swal2-toast {
  padding: 0; }

.img-character {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 100%;
  height: 220px; }

.img-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(55, 24, 24, 0.745);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 1; }

.loading .show {
  opacity: 1; }

.loading .spin {
  border: 23px solid rgba(251, 250, 249, 0.678);
  border-top-color: #560a6f;
  border-radius: 50%;
  width: 23em;
  height: 23em;
  animation: spin 1s linear infinite; }

.container__img {
  max-width: 200px;
  max-height: 250px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
